<!DOCTYPE html>
<html>
<head>
    <title>RAPPEL D'UN RENDEZ-VOUS</title>
</head>
<body>
    <p>Bonjour <b>{{customer}}</b>,</p>
    <p>J'espère que cette semaine a été excellente jusqu'à présent ! Nous voulions juste vous rappeler que vous avez un rendez-vous réservé au salon de beauté <b>Nova Beauty</b> le <b>{{date}}</b>.</p>
    <p>Nous sommes ravis de vous accueillir et de vous offrir nos services pour vous aider à vous sentir resplendissant(e). Si vous avez des questions ou si vous avez besoin de modifier votre rendez-vous, n'hésitez pas à nous contacter.</p>
    <p>À très bientôt !</p>
    <p>Cordialement,</p>
    {{!-- <img src="./logo.png" alt="Nova Beauty Logo" height="100"> --}}
    <p>NOVA BEAUTY</p>
    <p>034 00 001 02</p>
</body>
</html>
